<div class="row">

  <div *ngFor="let pokemon of pokemonList" class="col-sm-2 col-lg-4">
    <div class="card">
      <img
        [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/'+getId(pokemon)+'.png'"
        class="card-img-top"
        alt="Pokemon artwork"
      >
      <div class="card-body">
        <h5 class="card-title">{{ pokemon.name }}</h5>
        <a [routerLink]="['detail', getId(pokemon)]" class="btn btn-primary">View detail</a>
      </div>
    </div>
  </div>

</div>

